@import "tailwindcss";

@theme {
  /* Screens */
  --breakpoint-xsm: 31.25rem;
  --breakpoint-sm: 37.5rem;
  --breakpoint-md: 43.125rem;
  --breakpoint-lg: 61.75rem;
  --breakpoint-xl: 67.375rem;
  --breakpoint-xxl: 79.063rem;

  /* Colors */
  --color-textGray: #71767b;
  --color-textGrayLight: #e7e9ea;
  --color-borderGray: #2f3336;
  --color-inputGray: #202327;
  --color-iconBlue: #1d9bf0;
  --color-iconGreen: #20ba7c;
  --color-iconPink: #f91880;
}

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}
